:root{
    --color1: #7e3a27;
    --color2:#c99b82;
    --color3: #f9f9f9;
    --color4: #2b1b16;
    --space: 100px;
}

/* Body text uses Jost */
body {
  font-family: var(--body-font), sans-serif;
  background: #fff;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

/* Headings use Marcellus */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font), serif;
}
img{
    max-width: 100%;
}
.space_top{
    padding-top: var(--space);
}
.space_bottom{
    padding-bottom: var(--space);
}
.space{
    padding: var(--space) 0 var(--space);
}
.cta{
    display: inline-flex;
    color: #fff;
    background-color: var(--color1);
    padding: 15px 40px;
    text-decoration: none;
    font-family: var(--heading-font);
    border: 0px;
}
.cta:hover{
    background-color: var(--color2);
}
.btn-cta{
    border: 0px;
    width: 100%;
    text-align: center;
    display: block;
    font-family: var(--heading-font);
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: 300;
    background-color: var(--color2);
}
.btn-cta:hover{
    background-color: var(--color1);
}
.cta-black{
    background-color: #000;
    color: #fff;
}
.cta-black:hover{
    background-color: var(--color4);
}
.site_header{
    background-color: var(--color2);
}
.site_header .navbar-brand img{
    width: 110px;
}
.navbar-expand-lg{
    padding: 0px;
}
.nav-link{
    color: var(--color4);
    font-size: 18px;
}
.nav-link.cta{
    background-color: var(--color1);
    color: #fff;
    padding: 10px 30px!important;
    margin-left: 30px;
}
.nav-link.cta:hover{
    background-color: var(--color4);
}
.nav-link{
    /* border-bottom: transparent solid 2px; */
}
.nav-link:hover, .nav-link:focus{
    color: var(--color3);
    /* border-bottom: #000 solid 2px; */
}
.site_header .nav-link.active{
    color: var(--color3)!important;
    /* border-bottom: #000 solid 2px; */
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
}


/* Hero Home */
.homeHero{
    background: url(/images/hero1.jpg) left top no-repeat;
    height:calc(100vh - 170px);
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 1;
}
.homeHero::before{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.homeHero h2{
    font-size: 70px;
    line-height: 1;
}
.homeHero p{
    font-size: 18px;
    padding: 20px 0;
    text-transform: uppercase;
}
.hero_form{
    background-color: #F8F5F1;
    padding: 40px 40px 40px 40px;
    box-shadow: 0px 5px 30px 0px rgba(79.99999999999997, 57.00000000000001, 23.999999999999996, 0.18);
    margin-top: -50px;
    z-index: 1;
    position: relative;
}

.field{
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
    border-right: var(--color2) solid 1px;
}
input:focus{
    outline: 0px;
}
.filed-icon svg{
    width: 20px;
    height: auto;
}
.filed-icon svg path {
    fill: var(--color5);
}
.inp input{
    border: 0px;
    font-size: 14px;
    cursor: pointer;
    background-color: inherit;
}
.inp input::-webkit-calendar-picker-indicator {
  opacity: 0;
  pointer-events: none;
}

.field-label{
    font-size: 18px;
    font-family: var(--heading-font);
}


/* best resort */
.best_resort span{
    color: var(--color2);
    text-transform: uppercase;
    font-size: 14px;
}
.best_resort h2{
    font-size: 56px;
    line-height: 1;
    padding: 0px 0 23px;
}
.best_resort p{
    opacity: .8;
    margin-bottom: 30px;
}
.best_resort ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    gap: 15px;
}
.best_resort ul li{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.best_resort ul li svg{
    width: 35px;
    height: 35px;
    stroke: #474747;
    stroke-width: 1px;
}
.title{
    margin-bottom: 50px;
}
.title span{
    color: var(--color2);
    text-transform: uppercase;
}
.title h2{
    font-size: 56px;
}
.prices{
    background-color: var(--color3);
}
.prices .swiper-wrapper{
    padding-bottom: 65px;
}
.price_box{

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    padding: 30px;
}
.price_box h3{
    font-size: 40px;
    position: relative;
    z-index: 1;
}
.price_box h4{
    font-size: 30px;
    position: relative;
    z-index: 1;
}
.price_box h4 span:first-child{
    font-family: var(--body-font);
    font-size: 25px;
}
.price_box .cta{
    position: relative;
    z-index: 1;
}
.price_box span{
    font-size: 20px;
}
.price_box ul {
  list-style: none; /* remove default bullets */
  padding-left: 0;
  margin: 30px 0 30px;
}

.price_box ul li {
  position: relative;
  margin-bottom: 15px;
}
.price_box ul li img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    opacity: .8;
}
.price_box.two{
    color: #fff;
    background: url(/images/hero2.jpg) center center no-repeat;
    position: relative;
    z-index: 1;
    margin-top: 80px;
}
.price_box.two::before{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background-color: var(--color2);
    opacity: .95;
}
.price_box.two ul li img{
     filter: brightness(0) invert(1);
}
.price_box.two .cta{
    background-color: #fff;
    color: #000;
}
.price_box.two .cta:hover{
    background-color: var(--color2);
    color: #fff;
}

/* facilities */
.highlights{
    background-color: #fff;
    color: #000;
}
.highlights .box{
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    background-color: var(--color2);
    padding: 25px 25px;
    color: #fff;
    /* border-left: #f6e1b3 solid 6px;
    border-right: #f6e1b3 solid 6px; */
}
.highlights .box svg{
    width: 70px;
    height: 70px;
    stroke-width: 0.7px;
    stroke: #fff;
    margin-bottom: 15px;
}

.highlights .box p{
    font-size: 17px;
    margin-bottom: 0px;
    color: #fff;
}
.activity .box{
    padding: 50px;
}
.activity .box span{
    display: block;
    color: var(--color1);
    text-transform: uppercase;
    font-family: var(--heading-font);
}
.activity .box h3{
    font-size: 36px;
}
.activity .box p{
    margin: 20px 0 30px;
    text-wrap: balance;
}
.activities.two{
    background-color: var(--color3);
}
.activities .title{
    margin-bottom: 25px;
}
.activities .title h2{
    font-size: 40px;
    margin-bottom: 0px;
}
.resort-feci .box{
    position: relative;
}
.resort-feci .box::before{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    opacity: .5;
    content: '';
    height: 100%;
    width: 100%;
}
.resort-feci .box p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 22px;

}

.rooms{
    background-color: var(--color4);
}
.room{
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.room .content{
    padding: 30px;
}

.room h3{
    font-size: 25px;
}
.room .price{
    color: var(--color2);
}
.room ul{
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}
.room ul li{
    flex: 0 0 50%;
}


/* Blog */
.blogs{
        background-color: var(--color3);
}
.blog .info{
    position: relative;
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 15px 0;
}
.blog .info::before{
    position: absolute;
    left: 0px;
    top: 50%;
    content: '';
    background-color: var(--color2);
    height: 1px;
    width: 40px;
    transform: translateY(-50%);
}
.blog .info span:last-child{
    position: relative;
    padding-left: 10px;
}
.blog .info span:last-child:before{
     position: absolute;
     left: 0px;
    top: 50%;
    content: '';
    background-color: var(--color2);
    height: 6px;
    width: 6px;
    border-radius: 50px;
    transform: translateY(-50%);
}
.blog .image{
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
}
.blog .image img{
    transition: all .5s ease;
}
.blog .image:hover img{
    scale: 1.1;
    transition: all .5s ease;
}
.blog a{
    color: #000;
    text-decoration: none;
}
.blog a:hover{
    color: var(--color1);
}
/* Testimonial */
.testimonials{
    color: #fff;
    position: relative;
    background: #617183;
    background: linear-gradient(90deg,rgba(97, 113, 131, 1) 0%, rgba(64, 70, 87, 1) 50%);
}
.testimonials .box{
    text-align: center;
}
.testimonials .box .copy{
    font-size: 18px;
    line-height: 1.2;
    padding-top: 15px;
}
.testimonials .rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.testimonials svg{
    width: 15px;
    fill: #ffc107;
    stroke: #ffc107;
}
.testimonials .swiper-wrapper{
    padding-bottom: 50px;
}

.swiper-pagination-bullet {
  background-color: white!important;
  opacity: 0.7!important;
  width: 12px!important;
  height: 12px!important;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  background: var(--color2)!important; 
  opacity: 1;
  transform: scale(1.3);
}

/* Gallery */


.gallery .image{
    position: relative;
}
.gallery .image img{
    object-fit: cover;
    width: 100%;
    height: 350px;
}
.gallery .image .copy{
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.gallery .image .copy span{
    display: inline-block;
    background: rgba(255,255,255,0.12);      /* translucent layer */
  backdrop-filter: blur(10px) saturate(120%); /* blur the background behind */
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  border: 1px solid rgba(255,255,255,0.18); /* thin frosted edge */
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  padding: 18px 35px;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 18px;
  transition: all .5s ease;
}
.gallery .image:hover .copy span{
    background-color: var(--color2);
    transition: all .5s ease;
}


/* each room */
.room_type{
    background-color: var(--color3);
}
.room_type .swiper-wrapper{
    padding-bottom: 60px;
}
.each_room ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 20px;
}
.room_type .swiper-pagination-bullet{
    background-color: #0000006b!important;
}
.room_type .swiper-pagination-bullet-active{
    background-color: var(--color2)!important;
}
.each_room ul li {
    flex: 0 0 50%; 
    box-sizing: border-box; 
    margin-bottom: 10px;
}

.facilities{
    background-color: #fff;
}
.facilities .faci{
    text-align: center;
}
.facilities .faci svg{
    width: 80px;
    height: 80px;
    stroke-width: 1px;
    stroke:#464646;
}
.facilities .faci h3{
    font-size: 20px;
    font-family: var(--body-font);
}
.fatured_amenities h2.title{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-top: 80px;
}

#nav-tab .nav-link{
    color: #000;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
    background-color: inherit;
    border: 0px;
    border-bottom: #000 solid 2px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background-color: inherit;
    border: 0px;
    border-bottom: #000 solid 2px;
}
.fatured_amenities .info{
    padding-top: 30px;
}
.fatured_amenities .info h3{
    padding-bottom: 20px;
}
.fatured_amenities .ser{
    display: flex;
    gap: 10px;
}